*, *::before, *::after {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
body
{
	padding: 0;
	margin: 0;
	background: #091921;
}
.basiccalculator
{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.basiccalculator > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color : rgba(255, 255, 255, .75);
}

.basiccalculator > button:hover {
	background-color: #74ff3b;
}

.op {
	grid-column: 1 / -1;
	background-color: lime;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.op .prev-Op {
	color: grey;
	font-size: 1.5rem;
}

.op .cur-Op {
	color: white;
	font-size: 2.5rem;
}
#keys {
	background-color: rgba(255, 255, 255, .75);
}


